@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: #0f1014; /* moonlightBase */
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.article-content a {
	/* forces long urls to wrap on next line */
	white-space: pre; /* CSS 2.0 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3.0 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	word-wrap: break-word; /* IE 5+ */
}

.article-content a:hover {
	opacity: 0.8;
}
